/* ===== ROOT ===== */
.login-root {
    -fx-background-color: #F7FDFB;
    -fx-padding: 40;
    -fx-spacing: 0;
    -fx-pref-width: 100%;
    -fx-pref-height: 100%;
}

.left-card {
    -fx-background-color: rgba(0, 0, 0, 0.85); /* 85% opacity */
    -fx-background-radius: 10 0 0 10;
    -fx-border-radius: 10 0 0 10;
    -fx-padding: 70 90;
    -fx-border-width: 0;
    -fx-border-color: white;
    -fx-effect: dropshadow(gaussian, rgba(3,222,130,0.35), 20, 0.3, 0, 8);
}


.right-card {
    -fx-background-color: #FFFFFF; /* dark blue */
    -fx-background-radius: 0 10 10 0;
    -fx-border-radius:     0 10 10 0;
    -fx-padding: 70 90;
    -fx-border-width: 0.5;
    -fx-border-color: #03DE82;
    -fx-effect: dropshadow(gaussian, rgba(3,222,130,0.35), 20, 0.3, 0, 8);

}

.login-form {
    -fx-padding: 60;
    -fx-spacing: 12;
}


/* ===== TITLE ===== */
.title {
    -fx-pref-width: 350px;
    -fx-text-fill: #03DE82;
    -fx-font-family: Inter;
    -fx-font-size: 36px;
    -fx-font-weight: bold;
    -fx-fill-height: 36px;
}
.title_2 {
    -fx-pref-width: 350px;
    -fx-pref-height: 92px;
    -fx-text-fill: #03DE82;
    -fx-font-family: Inter;
    -fx-font-size: 12px;
    -fx-font-weight: normal;
    -fx-fill-height: 12px;
}

.title_3 {
    -fx-pref-width: 250px;
    -fx-pref-height: 92px;
    -fx-text-fill: #03DE82;
    -fx-font-family: Inter;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-fill-height: 20px;
}

/* ===== INPUTS ===== */
.input-field-user{
    -fx-pref-width: 150px;
    -fx-pref-height: 72px;
    -fx-padding: 12;
    -fx-text-fill: #03DE82;
    -fx-font-family: Inter;
    -fx-font-size: 24px;
    -fx-font-style: normal;

}

.input-field-user{
    -fx-pref-width: 150px;
    -fx-pref-height: 72px;
    -fx-padding: 12;
    -fx-text-fill: #03DE82;
    -fx-font-family: Inter;
    -fx-font-size: 24px;
    -fx-font-style: normal;

}
.input-field-password{
    -fx-pref-width: 150px;
    -fx-pref-height: 72px;
    -fx-padding: 12;
    -fx-text-fill: #03DE82;
    -fx-font-family: Inter;
    -fx-font-size: 24px;
    -fx-font-style: normal;

}
.input-field {

    -fx-pref-width: 350px;
    -fx-pref-height: 15px;
    -fx-padding: 12;
    -fx-border-color:#03DE82;
    -fx-text-fill: #03DE82;
    -fx-font-family: Inter;
    -fx-border-width: 2px;
    -fx-font-size: 12px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

/* ===== CHECKBOX ===== */
.checkbox {
    -fx-text-fill: #03DE82;
    -fx-font-size: 24px;
    -fx-font-weight: normal;
    -fx-fill-height: 46px;
}

/* ===== BUTTONS ===== */
.primary-button {
    -fx-pref-width: 480px;
    -fx-pref-height: 15px;
    -fx-border-radius: 5px;
    -fx-font-style: bold ;
    -fx-background-color: #03DE82;
    -fx-border-color: #03DE82;
    -fx-text-fill: #000;
    -fx-font-size: 12px;
    -fx-padding: 12;
    -fx-background-radius: 5;

    /* SHADOW */
    -fx-effect: dropshadow(gaussian, rgba(3,222,130,0.4), 12, 0.3, 0, 4);
}

.primary-button:hover {
    -fx-background-color: #00c973;
}

.secondary-button {
    -fx-pref-width: 480px;
    -fx-pref-height: 15px;
    -fx-background-color: transparent;
    -fx-font-style: bold;
    -fx-text-fill: #03DE82;
    -fx-border-color: #03DE82;
    -fx-font-size: 12px;
    -fx-padding: 12;
    -fx-border-radius: 5;
    -fx-background-radius: 5;

    /* SHADOW */
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25), 8, 0.2, 0, 3);
}


.link-button {
    -fx-background-color: transparent;
    -fx-text-fill: #02E0E0;
    -fx-font-size: 12px;
}



/* ===== MESSAGES ===== */
.message-label {
    -fx-font-size: 24px;
}

.message-error {
    -fx-text-fill: red;
}

.message-success {
    -fx-text-fill: #03DE82;
}
